{% extends '../main/base.html' %}
{% block stylesheets %}
{% load static %}
<link rel="stylesheet" href="{% static '/pages/form.css' %}">
{% endblock  %}
{% block main_title %}
Войти на сайт
{% endblock  %}
{% block content %}
{% load common_filters %}
<div class="form-container">
        <form class="form" method="post" action={% url 'login' %}>
        {% csrf_token %}
            <div class="form__group">
                <label for="id_username" class="form__label">Имя</label>
                <div class="form__field-group">
                    {{ form.username|addclass:"form__input" }}
                    {% if form.username.errors %}
                        {% for error in form.password.errors %}
                            <span class="form__error">{{ error }}</span>
                        {% endfor %}
                    {% endif %}   
                </div>
            </div>
            <div class="form__group">
                <label for="id_password" class="form__label">Пароль</label>
                <div class="form__field-group">
                    {{ form.password|addclass:"form__input" }}
                    {% if form.password.errors %}
                        {% for error in form.password.errors %}
                            <span class="form__error">{{ error }}</span>
                        {% endfor %}
                    {% endif %}                
                </div>
            </div>
            <div class="form__footer">
                <button class="button button_style_blue">Войти</button>
                <a class="form__forgot-link">Забыли пароль?</a>
            </div>
        </form>
    </div>
{% endblock  %}