{% extends '../main/base.html' %}
{% block head_title %}
{{ block.super }} - Сброс пароля
{% endblock %}
{% block stylesheets %}
{% load static %}
{% load common_filters %}
<link rel="stylesheet" href="{% static '/pages/single.css' %}">
{% endblock %}
{% block content %}
<div class="single-card">
            <div class="single-card__info">
                <div class="single-card__header-info">
                    <h2 class="single-card__title">Новый пароль успешно установлен.</h2>
                </div>
            </div>
{% endblock %}