<div class="card" data-id="{{ recipe.pk }}">
                <a href="#" class="link" target="_blank"><img src="./images/testCardImg.png" alt="Какой-то текст" class="card__image"></a>
                <div class="card__body">
                    <a class="card__title link" href="{% url 'recipe_detail' pk=recipe.pk %}" target="_blank">Французские тосты</a>
                    <ul class="card__items">
                        <li class="card__item"><span class="badge badge_style_green">Обед</span></li>
                        <li class="card__item"><span class="badge badge_style_orange">Завтрак</span></li>
                        <li class="card__item"><span class="badge badge_style_purple">Ужин</span></li>
                    </ul>
                    <div class="card__items card__items_column">
                        <p class="card__text"><span class="icon-time"></span>{{ recipe.cook_time }}</p>
                        <p class="card__text"><span class="icon-user"></span>{{ recipe.author }}</p>
                    </div>
                </div>
                <div class="card__footer">
                    <button class="button button_style_light-blue" name="purchpurchases" data-out><span class="icon-plus button__icon"></span>Добавить в покупки</button>
                    {% ifequal request.path '/user/favorites' %}
                        <button class="button button_style_none" name="favorites"><span class="icon-favorite icon-favorite_active"></span></button>
                    {% endifequal %}
                </div>
</div>