{% extends '../../main/base.html' %}
{% load static %}
{% block head_title %}
{{ block.super }} - Избранное
{% endblock %}
{% block stylesheets %}'
<link rel="stylesheet" href="{% static '/pages/index.css' %}">
{% endblock %}
{% block main_title %}Избранное{% endblock %}
{% block tags %}
{% include  'main/tags.html' %}
{% endblock %}
{% block content %}
<div class="card-list">
      {% csrf_token %}
      {% for recipe in recipes %}
      {% include '../../panels/favorite_recipe.html'  with recipe=recipe %}
      {% endfor %}
</div>
{% endblock %}
{% block scripts %}
    <script src="{% static './js/components/MainCards.js' %}"></script>
    <script src="{% static '/js/components/Purchases.js' %}"></script>
    <script src="{% static '/js/components/Favorites.js' %}"></script>

    <script src="{% static './js/components/CardList.js' %}"></script>
    <script src="{% static '/js/components/Header.js' %}"></script>

    <script src="{% static '/js/api/Api.js' %}"></script>
    <script src="{% static 'favorite.js' %} "></script>
{% endblock  %}